<a href="https://colab.research.google.com/github/SurekhaBerlin/Python/blob/master/loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 101
if x % 2 == 0:
  print (x, "is an even number")
else:
  print (x, "is an odd number")

101 is an odd number

In [ ]:
x =int(input("Enter your Number"))
if x % 2 == 0:
  print (x, "is an even number")
else:
  print (x, "is an odd number")

Enter your Number528582
528582 is an even number

In [ ]:
x =int(input("Enter your Age"))
if x<18 or x>50:
  print("Sorry you are not allowed to the party")
else:
  print("welcome to the party")

Enter your Age35
welcome to the party

In [ ]:
list1 = [10,20,30,40,50]
for i in list1:
  print(i)

10
20
30
40
50

In [3]:
Employee_data = {101: ['Shiva', 24, 'Content Strategist'],
 102: ['Udit', 25, 'Content Strategist'],
 103: ['Sonam', 28, 'Sr Manager'],
 104: ['Ansari', 29, 'Product Lead'],
 105: ['Huzefa', 32, 'Project Manager']}

In [6]:
for i,j in Employee_data.items():
  print (i)

101
102
103
104
105

In [7]:
for i,j in Employee_data.items():
  print (j)

['Shiva', 24, 'Content Strategist']
['Udit', 25, 'Content Strategist']
['Sonam', 28, 'Sr Manager']
['Ansari', 29, 'Product Lead']
['Huzefa', 32, 'Project Manager']

In [19]:
name_list = []
for i in Employee_data.values():
  name_list.append(i[0])

In [20]:
name_list

['Shiva', 'Udit', 'Sonam', 'Ansari', 'Huzefa']