<a href="https://colab.research.google.com/github/SurekhaBerlin/Python/blob/main/pythonchallenge5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for i in range (1,100,5):
  print(i)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91
96

In [4]:
for i in range (10,1,-3):
  print(i)

10
7
4

In [2]:
name = str(input("Enter the name: "))
num = int(input("Enter a number: "))
for i in range(0,num):
  print(name)

Enter the name: Berlin
Enter a number: 8
Berlin
Berlin
Berlin
Berlin
Berlin
Berlin
Berlin
Berlin

In [1]:
name = str(input("Enter the name: "))
num = len(name)
for i in range(0, num):
  print(name[i])

Enter the name: Berlin
B
e
r
l
i
n

In [10]:
name = str(input("Enter the name: "))
num = len(name)
t = int(input("Enter the number of times: "))
for x in range(0, t):
  for i in range (0,num):
    print(name[i])

Enter the name: Bee
Enter the number of times: 3
B
e
e
B
e
e
B
e
e

In [13]:
num = int(input("Enter a number between 1 and 12: "))
for i in range(0,13):
  answer = num * i
  print(num, " * " ,i ," = ",  answer )

Enter a number between 1 and 12: 7
7  *  0  =  0
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
7  *  10  =  70
7  *  11  =  77
7  *  12  =  84

In [24]:
num = int(input("Enter a number below 50: "))
for i in range (50,num-1,-1):
  print(i)

Enter a number below 50: 3
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [33]:
name = str(input("Enter the name: "))
num = int(input("Enter a number: "))
if (num < 10):
  for i in range(0,num):
    print(name)
else:
  for i in range(0,3):
    print("Too high")

Enter the name: Bee
Enter a number: 15
Too high
Too high
Too high

In [40]:
total = 0
for i in range(0,5):
  num = int(input("Enter a number: "))
  ans = str(input("if they want to include?:  y/n:  "))
  if ans == "y":
    total = total +num

print(total)

Enter a number: 5
if they want to include?:  y/n:  n
Enter a number: 45
if they want to include?:  y/n:  y
Enter a number: 34
if they want to include?:  y/n:  n
Enter a number: 3
if they want to include?:  y/n:  n
Enter a number: 54
if they want to include?:  y/n:  n
45

In [47]:
direction = str(input("Which direction the user wants to count?  up/down: "))
if direction == "up":
  num = int(input("Enter the top number: "))
  for i in range (1,num+1):
    print (i)
elif direction == "down":
  num = int(input("Enter the number below 20 : "))
  for i in range (20,num-1,-1):
    print (i)
else:
  print("I don't understand!")

Which direction the user wants to count?  up/down: tghgy
I don't understand!

In [49]:
num = int(input("No. of people the user want to invite for the party ? "))
if num < 10 :
  for i in range (0,num):
    name = str(input("Enter the name: "))
    print( name , "has been invited !")
elif num >= 10 :
  print("Too many people !")

No. of people the user want to invite for the party ? 7
Enter the name: Berlin
Berlin has been invited !
Enter the name: Surekha
Surekha has been invited !
Enter the name: Bryan
Bryan has been invited !
Enter the name: Steve
Steve has been invited !
Enter the name: Suku
Suku has been invited !
Enter the name: Renjini
Renjini has been invited !
Enter the name: Sooraj
Sooraj has been invited !