<a href="https://colab.research.google.com/github/SurekhaBerlin/Python/blob/main/pythonchallenge1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
firstname = input("Enter the First Name: ")
print("Hello",firstname)

Enter the First Name: Berlin
Hello Berlin

In [4]:
firstname = input("Enter the First Name: ")
surname = input("Enter the Sur Name: ")
print("Hello",firstname , surname)

Enter the First Name: Berlin
Enter the Sur Name: surekha
Hello Berlin surekha

In [21]:
print("What do you call a bear with no teeth?\nA gummy bear")

What do you call a bear with no teeth?
A gummy bear

In [29]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
answer = num1+num2
print("The answer is:",answer)

Enter the first number: 45
Enter the second number: 55
The answer is: 100

In [30]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
answer = (num1+num2) * (num3)
print("The answer is:",answer)

Enter the first number: 3
Enter the second number: 4
Enter the third number: 5
The answer is: 35

In [32]:
startnum = int(input("Enter the slices of pizza the user started with: "))
endnum = int(input("Enter the slices of pizza the user ended with: "))
slicesleft = startnum - endnum
print("you have" ,slicesleft , "slices left")

Enter the slices of pizza the user started with: 8
Enter the slices of pizza the user ended with: 3
you have 5 slices left

In [33]:
name = input("Enter the Name: ")
age = int(input("Enter the Age: "))
newage = age+1
print(name,"next birthday your age will be ",newage)

Enter the Name: Berlin
Enter the Age: 23
Berlin next birthday your age will be  24

In [34]:
totalBill = int(input("Enter the total bill amount: "))
dinnerNum = int(input("How many dinners are there: "))
price = (totalBill / dinnerNum)
print("Each person must pay",price)

Enter the total bill amount: 100
How many dinners are there: 5
Each person must pay 20.0

In [44]:
days = int(input("No. of days: "))
hours = days * 24
minutes = hours * 60
seconds = minutes *60
print("There will be ",hours,"hours",minutes,"minutes &",seconds,"seconds in", days,"days")

No. of days: 20
There will be  480 hours 28800 minutes & 1728000 seconds in 20 days

In [49]:
weight = float(input("Enter the weight in kilogram: "))
pound = weight * 2.204
print("The weight in pounds is: ", pound)

Enter the weight in kilogram: 6
The weight in pounds is:  13.224

In [52]:
num1 = int(input("Enter the number greater than 100: "))
num2 = int(input("Enter the number less than 10: "))
value = num1//num2
print("The smaller number goes",value , "times in the larger number")

Enter the number greater than 100: 123
Enter the number less than 10: 11
The smaller number goes 11 times in the larger number