<a href="https://colab.research.google.com/github/SurekhaBerlin/Python/blob/main/pythonchallenge11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
file = open('Countries.txt','w')
file.write('Italy\n')
file.write('Germany\n')
file.write('Spain\n')
file.close()

In [ ]:
file = open('Countries.txt','r')
print(file.read())

Italy
Germany
Spain

In [ ]:
file = open('Countries.txt','a')
file.write('France\n')
file.close()

In [ ]:
file = open('Countries.txt','r')
print(file.read())

In [ ]:
file = open('Numbers.txt','w')
file.write('4 , ')
file.write('56 , ')
file.write('34 , ')
file.write('22 , ')
file.write('12 , ')
file.close()

In [ ]:
file = open('Names.txt','w')
file.write('Berlin\n')
file.write('Surekha\n')
file.write('Bryan\n')
file.write('Steve\n')
file.write('Tara\n')
file.close()

In [ ]:
file = open('Names.txt','r')
print(file.read())
file.close()

Berlin
Surekha
Bryan
Steve
Tara

In [ ]:
file = open('Names.txt','a')
newname = input('Enter a new name: ')
file.write(newname+'\n')
file.close()
file = open('Names.txt','r')
print(file.read())
file.close()

Enter a new name: Nia
Berlin
Surekha
Bryan
Steve
Tara
Nila\ nnilaNilaNia
Nia

In [ ]:
print("1) Create a new file :  ")
print("2) Display the file :  ")
print("3) Add a new item to the file :  ")
selection  = int(input("Enter a selection 1, 2 or 3:  "))


if selection == 1:
  subject  = input("Enter a school subject: ")
  file = open("Subject.txt" ,"w")
  file.write(subject +'\n')
  file.close()

elif selection == 2:
  file = open('Subject.txt','r')
  print(file.read())


elif selection == 3:
  file = open("Subject.txt" ,"a")
  subject  = input("Enter a new subject: ")
  file.write(subject +'\n')
  file.close
  file = open('Subject.txt','r')
  print(file.read())

else:
  print('Not a proper selection !!!!  ')

1) Create a new file :
2) Display the file :
3) Add a new item to the file :
Enter a selection 1, 2 or 3:  3
Enter a new subject: Physics
Maths

In [ ]:
file = open("Names.txt","r")
print(file.read())
file.close()

file = open('Names.txt',"r")
selectedname = input("Enter a name from the list:  ")
selectedname = selectedname + '\n'


for row in file :

  if row != selectedname:

    file = open("Namesa3.txt","a")
    newrecord = row
    file.write(newrecord)
    file.close()
file.close()


file = open("Namesa3.txt","r")
print(file.read())
file.close()

Berlin
Surekha
Bryan
Steve
Tara

Enter a name from the list:  Tara
Berlin
Surekha
Bryan
Steve

In [30]:
import csv
file = open("Stars.csv","w")
newRecord = "Brian,73,Taurus\n"
file.write(str(newRecord))
file.close()

In [ ]:
file = open ("Stars.csv","a")
name = input("Enter a name: ")
age = input("Enter the age: ")
star = input("Enter the star: ")
newRecord =name + "  " + age + " " + star + "\n"
file.write(str(newRecord))
file.close()

In [13]:
for row in range(0,4):
  file = open ("Stars.csv","a")
  name = input("Enter a name: ")
  age = input("Enter the age: ")
  star = input("Enter the star: ")

  newRecord = name + "  " + age + " " + star + "\n"

  file.write(str(newRecord))
  file.close()

Enter a name: Surekha
Enter the age: 29
Enter the star: Leo
Enter a name: Brayan
Enter the age: 5
Enter the star: Scorpio
Enter a name: Steve
Enter the age: 3
Enter the star: Scorpio
Enter a name: Tara
Enter the age: 2
Enter the star: Leo

In [14]:
file = open("Stars.csv" , "r")
for row in file:
  print(row)

Berlin   30 Aquarius

Surekha  29 Leo

Brayan  5 Scorpio

Steve  3 Scorpio

Tara  2 Leo

In [15]:
file = open("Stars.csv","r")
reader = csv.reader(file)
rows = list(reader)
print(rows[1])

['Surekha  29 Leo']

In [ ]:
file = open("Stars.csv","r")
search = input("Enter the data you are searching for:  ")
reader = csv.reader(file)

for row in file:
  if search in str(row):
    print(row)

In [19]:
import csv
file = list(csv.reader(open("Stars.csv")))
tmp = []
for row in file:
  tmp.append(row)

In [ ]:
file = open("NewStars.csv","w")
x = 0
for row in tmp:
  newRec =  tmp[x][0] + " , " +  tmp[x][1] + " , " + tmp[x][2] + " \n "
  file.write(newRec)
  x = x + 1
file.close()

In [38]:
import csv

file = open("Books.csv" , "w")

newrecord = "To kill a mocking bird , Harper Lee, 1960 \n"
file.write(str(newrecord))
newrecord = "A brief history of time , Stephen Hawking, 1988 \n"
file.write(str(newrecord))
newrecord = "The great gatsby , F.Scott Fitzgerald, 1922 \n"
file.write(str(newrecord))
newrecord = "The man who mistook his wife for a hat , Oliver Sacks, 1985 \n"
file.write(str(newrecord))
newrecord = "Pride and Prejudice , Jane Austen , 1813 \n"
file.write(str(newrecord))

file.close()

In [18]:
num = int(input("How many records they want to add to the list :" ))
file = open("Books.csv","a")

for x in range(0,num):

  name = input("Enter the name of a book: ")
  author = input("Enter the author of the book: ")
  year = input("Enter the year released: ")
  newrecord =name + "  " + author + " " + year + "\n"
  file.write(str(newrecord))

file.close

search = input("Enter the book you are searching for:  ")
file = open("Books.csv","r")
count = 0

for row in file:
  if search in str(row):
    print(row)
    count = count + 1
if count == 0:
  print("There are no books by that author in the list:  ")

file.close()

How many records they want to add to the list :2
Enter the name of a book: little things
Enter the author of the book: su
Enter the year released: 2000
Enter the name of a book: Happydays
Enter the author of the book: berlin
Enter the year released: 2000
Enter the book you are searching for:  ikigai
There are no books by that author in the list:

In [11]:
file = open ("Books.csv","a")
name = input("Enter the name of a book: ")
author = input("Enter the author of the book: ")
year = input("Enter the year released: ")
newrecord =name + "  " + author + " " + year + "\n"
file.write(str(newrecord))
file.close()

Enter the name of a book: Ikigai
Enter the author of the book: Hector Gracia
Enter the year released: 2020

In [39]:
import csv

start = int(input("Enter a starting year: "))
end = int(input("Enter an ending year: "))

file  = list(csv.reader(open("Books.csv")))
tmp = []

for row in file:
  tmp.append(row)

x = 0

for row in tmp:
  if int(tmp[x][2]) >= start and int(tmp[x][2]) <= end:
    print(tmp[x])
  x = x + 1

Enter a starting year: 1800
Enter an ending year: 1980
['To kill a mocking bird ', ' Harper Lee', ' 1960 ']
['The great gatsby ', ' F.Scott Fitzgerald', ' 1922 ']
['Pride and Prejudice ', ' Jane Austen ', ' 1813 ']

In [44]:
file = open("Books.csv" , "r")
x = 0

for row in file:
  display = str(x) + "- " + row
  print(display)
  x = x + 1

0- To kill a mocking bird , Harper Lee, 1960

1- A brief history of time , Stephen Hawking, 1988

2- The great gatsby , F.Scott Fitzgerald, 1922

3- The man who mistook his wife for a hat , Oliver Sacks, 1985

4- Pride and Prejudice , Jane Austen , 1813

In [48]:
import csv
file = list(csv.reader(open("Books.csv")))
Booklist = []

for row in file :
  Booklist.append(row)
x = 0


for row in Booklist:
  display = x, Booklist[x]
  print(display)
  x = x + 1
getrid = int (input ( "Enter the row to delete : "))
del Booklist[getrid]

x = 0

for row in Booklist:
  display = x, Booklist[x]
  print(display)
  x = x + 1
alter = int(input("Enter the row to be altered: "))
x = 0

for row in Booklist[alter]:
  display  = x, Booklist [alter][x]
  print(display)
  x = x + 1

part = int(input("Which part do you want to change?:  "))
newdata = input("Enter new data : ")
Booklist[alter][part] = newdata
print(Booklist[alter])

file = open("Books.csv","w")
x = 0

for row in Booklist:
  newrecord  = Booklist[x][0] + "," + Booklist[x][1] + " , "+ Booklist[x][2] + "\n"
  file.write(newrecord)
  x = x + 1

file.close()

(0, ['To kill a mocking bird ', ' Harper Lee ', '  1960 '])
(1, ['A brief history of time ', ' Stephen Hawking ', '  1988 '])
(2, ['The man who mistook his wife for a hat ', ' Oliver Sacks ', '  1985 '])
(3, ['Pride and Prejudice ', ' Jane Austen  ', ' 1814'])
Enter the row to delete : 0
(0, ['A brief history of time ', ' Stephen Hawking ', '  1988 '])
(1, ['The man who mistook his wife for a hat ', ' Oliver Sacks ', '  1985 '])
(2, ['Pride and Prejudice ', ' Jane Austen  ', ' 1814'])
Enter the row to be altered: 2
(0, 'Pride and Prejudice ')
(1, ' Jane Austen  ')
(2, ' 1814')
Which part do you want to change?:  2
Enter new data : 1900
['Pride and Prejudice ', ' Jane Austen  ', '1900']

In [62]:
import csv
import random

score = 0
name = input("What is your name? : ")

q1_num1 = random.randint(10 ,50)
q1_num2 = random.randint(10 ,50)
question1 = str(q1_num1) + " + " + str(q1_num2) + " = "
ans1 = int(input(question1))
realans1 = q1_num1 + q1_num2

if ans1 == realans1:
  score = score + 1

q2_num1 = random.randint(10 ,50)
q2_num2 = random.randint(10 ,50)
question2 = str(q2_num1) + " + " + str(q2_num2) + " = "
ans2 = int(input(question2))
realans2 = q2_num1 + q2_num2

if ans2 == realans2:
  score = score + 1

file = open("Quizscore1.csv","a")
newrecord  = name + " - " + question1 + str(ans1)+ ", " + question2 + str(ans2) + ", " + "Score = " + str(score) + " \n "
file.write(str(newrecord))


file = open("Quizscore1.csv" , "r")
display = str(newrecord)
print(display)
file.close()

What is your name? : Berlin
40 + 44 = 84
46 + 24 = 70
Berlin - 40 + 44 = 84 , 46 + 24 = 70, Score = 2